<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href='/stylesheets/landing_style.css'>
  <title>Team App</title>
</head>
<body>
  <img id="title" src="/images/arcadefont.png">
  <h1 id="motto">Join and create your own incredible game development projects</h1>
  <form id="login-form" action='/auth/login' method='POST'>

    <label for=''>Username</label>
    <input type='text' name='username'>

    <label for=''>Password</label>
    <input type='password' name='password'>

    <button type='submit'>Log in</button>
  </form>

  <div id="icon-block">
    <img src="/images/gamer_icon.png">
    <a href="/auth/signup">Don't have an account yet? Create one here!</a>
  </div>
  {{#if errorMessage}}
    <div>
      {{errorMessage}}
    </div>
  {{/if}}
</body>

