<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href='/stylesheets/landing_style.css'>
  <title>Team App</title>
</head>
<body>
  <div class="img-gamer-centered"><img id="title" src="/images/arcadefont.png"></div>
   <h1 id="motto">Find collaborators to build incredible videogames</h1>
  <form id="login-form" action='/auth/login' method='POST'>

    <div class="input-fields-div">
      <div>
        <input type='text' name='username' placeholder="Username">
      </div>

      <div>
        <input type='password' name='password' placeholder="Password">
      </div>
    </div>

    <div class="login-btn"><button class="login-btn-div" type='submit'>LOG IN</button></div>
  </form>
  <div id="error">
    {{errorMessage}}
  </div>

  <div id="icon-block">
    <img src="/images/gamer_icon.png">
    <div class="img-gamer-centered"><a href="/auth/signup">Don't have an account yet? Create one here!</a></div>
  </div>
</body>

