<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <div class="header-img">
        <img class="header1" src="/images/gamer_icon.png">
        <img class="header2" src="/images/arcadefont.png">
      </div>
    </header>
    <main>
      

      {{{body}}}
    
    
    </main>
    <footer>
      <ul>
        <a href="/project/users/details"><img src="./../images/project_icon.png"></a>
        <a href="/main"><img src="./../images/glass_icon.png"></a>
        <a href="/users/profile"><img src="./../images/profile_icon.png"></a>
      </ul>
    </footer>
  </body>
</html>
