<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
{{!  <nav>
      <ul>
        <li>Projects</li>
        <li>Browse</li>
        <li>Profile</li>
      </ul>
    </nav>
    
}}
    {{{body}}}
  <script src="./../public/index.js"></script>
  </body>
</html>
