<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <div class="header-img">
        <img class="header1" src="/images/gamer_icon.png">
        <img class="header2" src="/images/arcadefont.png">
      </div>
    </header>
    <main>
      

      {{{body}}}
    
    
    </main>
    <footer>
      <a href="/users/profile"><img id="menu-icon1" src="/images/profile.png"></a>
      <a href="/main"><img id="menu-icon2" src="/images/mglass.png"></a>
      <a href="/project/users/details"><img id="menu-icon3" src="/images/idea.png"></a>
    </footer>
  </body>
</html>
