<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <nav>
      <ul>
        <li><a href="/users/project/{{req.session.currentUser._id}}">Projects</a></li>
        <li><a href="/main">Browse</a></li>
        <li>Profile</li>
      </ul>
    </nav>
    <h1>{{req.session}}</h1>
    

    {{{body}}}
  
  
  </body>
</html>