<H1><em>What are you looking for?</em></H1>

<button class="box">
    <a href="/users/main/">All creators</a>
</button>
<button class="box">
    <a href="/users/favorites/{{currentUser._id}}">Favorite creators</a>
</button>
<button class="box">
    <a href="/project/main/">All projects</a>
</button>
<button class="box">
    <a href="/project/favorites/{{currentUser._id}}">Favorite projects</a>
</button>
