<form action='/project/create/' method='POST' enctype="multipart/form-data" class="form">
 <div>
    <h1>My New Project</h1>

    <div class="form-entry">
      <label for='' class="form-title">Title</label>
      <input class="field-input" type='text' name='title' class="form-field" placeholder="Name your project">
    </div>

    <div class="form-entry">
      <label for='' class="form-title">Description</label>
      <textarea class="field-input" type='text' name='description' class="form-field" placeholder="Describe your project!"></textarea>
    <div>

    <div class="form-entry">
      <label for='' class="form-title">Category</label>
      <select class="field-input" name="category" size="4">
        <option value="Action">Action</option>
        <option value="Adventure">Adventure</option>
        <option value="RPG">RPG</option>
        <option value="Platforms">Platforms</option>
        <option value="Sports">Sports</option>
        <option value="Puzzle">Puzzle</option>
        <option value="Shooter">Shooter</option>
        <option value="Simulation">Simulation</option>
        <option value="Sports">Strategy</option>
        <option value="Puzzle">Racing</option>   
  </select>
    </div>

    <div class="form-entry">
      <label for='' class="form-title">Wanted Skills</label>
      <div class="checkbox-styling">
        <div class="checkbox-and-title"><input type='checkbox' name='wantedSkills' class="form-field" value="2D Graphics"><span>2D Graphics</span></div>
        <div class="checkbox-and-title"><input type='checkbox' name='wantedSkills' class="form-field" value="3D Graphics"><span>3D Graphics</span></div>
        <div class="checkbox-and-title"><input type='checkbox' name='wantedSkills' class="form-field" value="Unity"><span>Unity</span></div>
        <div class="checkbox-and-title"><input type='checkbox' name='wantedSkills' class="form-field" value="Scriptwriting"><span>Scriptwriting</span></div>
        <div class="checkbox-and-title"><input type='checkbox' name='wantedSkills' class="form-field" value="Pixel Art"><span>Pixel Art</span></div>
        <div class="checkbox-and-title"><input type='checkbox' name='wantedSkills' class="form-field" value="Music Composition"><span>Music Composition</span></div>
        <div class="checkbox-and-title"><input type='checkbox' name='wantedSkills' class="form-field" value="Sound Engineering"><span>Sound Engineering</span></div>
        <div class="checkbox-and-title"><input type='checkbox' name='wantedSkills' class="form-field" value="C++"><span>C++</span></div>
        <div class="checkbox-and-title"><input type='checkbox' name='wantedSkills' class="form-field" value="Javascript"><span>Javascript</span></div>
        <div class="checkbox-and-title"><input type='checkbox' name='wantedSkills' class="form-field" value="HTML & CSS"><span>HTML and CSS</span></div>
        <div class="checkbox-and-title"><input type='checkbox' name='wantedSkills' class="form-field" value="Project Management"><span>Project Management</span></div>
        <div class="checkbox-and-title"><input type='checkbox' name='wantedSkills' class="form-field" value="Conceptual Design"><span>Conceptual Design</span></div>
        <div class="checkbox-and-title"><input type='checkbox' name='wantedSkills' class="form-field" value="Beta Testing"><span>Beta Testing</span></div>
      </div>
    </div>

    <div class="form-entry">
      <label for='' class="form-title">Start Date</label>
      <input  class="field-input" type='date' name='startDate' class="form-field">
    </div>

    <div class="form-entry">
      <label for='' class="form-title">Release Date</label>
      <input class="field-input" type='date' name='releaseDate' class="form-field">
    </div>

      <div class="form-entry">
      <label for='' class="form-title">Location</label>
      <input class="field-input" type='text' name='location' class="form-field" placeholder="Where are you?">
      </div>

    <div class="form-entry">
      <label for='' class="form-title">Screenshots</label>
      <input class="field-input" type='file' name='screenshots' class="form-field">
    </div>

    <div class="btn-div">
      <div class="btn-centered"><button class="edit-project" type='submit'>Create !</button></div>
    </div>
  </div>

</form>