@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&display=swap');

@media screen and (max-width: 450px) { 

    body {
        background-image: url("./../images/landing_background.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }

    #title {
        position: fixed;
        width: 80%;
        left: 10vw;
        top: 10vw;
    }

    h1 {
        color: white;
        font-size: 15px;
        font-family: 'Jura', sans-serif;
    }

    #motto {
        position: fixed;
        top: 20vw;
        text-align: center;
        margin-right: 10px; 
    }

    form {
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        right: 17vw;
        left: 17vw;
    }

    #login-form {
        position: fixed;
        top: 50vw;
    }

    form label {
        color: white;
        font-family: 'Jura', sans-serif;
        text-align: center;
    }

    form input {
        border-radius: 20px;
        background-color: rgb(169, 169, 169, 0.5);
        border: 1px solid purple;
        height: 50px;
    }

    button {
        color: white;
        background-color: red;
        font-family: 'Jura', sans-serif;
        border: 5px solid purple;
        margin-top: 5px;
        height: 50px;
    }

    #icon-block {
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        left: 20vw;
        top: 110vw;
    }

    @keyframes opening {
        0% {height: 0px;}
        50% {height: 180px;}
        100% {height: 150px;}
    }

    #icon-block img {
        width: 80%;
        animation-name: opening;
        animation-duration: 2s;
    }

    #icon-block a {
        color: white;
        text-decoration: none;
        text-align: center;
        margin-right: 60px;
        font-family: 'Jura', sans-serif;
        background-color: rgb(169, 169, 169, 0.3);
    }

    /* --- --- */

    #checkbox-styling {
        display: flex;
        flex-wrap: wrap;
    }
}