@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&display=swap');

@media screen and (min-width: 451px) {

  body {
    padding: 50px;
    font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
    color: rgb(77, 71, 71);
  }

  a {
    color: #00b7ff;
  }

  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .form-entry {
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .form-title {
    font-size: 4em;
    text-align: center;
  }

  .form-field {
    font-size: 4em;
    margin-top: 10px;
    border: solid rgb(134, 212, 17) 5px;
    border-top: 0px;
    border-left: 0px;
  }

  .submit-btn {
    font-size: 5em;
    text-align: center;
    padding: 35px 60px;
    margin-top: 25px;
    border: solid rgb(134, 212, 17) 10px;
    border-top: 0px;
    border-left: 0px;
    background-color: white;
  }

  .btn-div {
    text-align: center;
  }

  ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 3rem;
    margin-top: 100px;
  }

  nav {
    margin-left: -60px;
    margin-top: -50px;
    height: 200px;
    width: 102vw;
    background: rgb(34, 102, 157);
    background: linear-gradient(
      166deg,
      rgba(34, 102, 157, 1) 11%,
      rgba(6, 54, 95, 1) 71%
    );
    color: white;
  }

 footer {
    background: rgb(34, 102, 157);
    background: linear-gradient(
      166deg,
      rgba(34, 102, 157, 1) 11%,
      rgba(6, 54, 95, 1) 71%
    );
    color: white;
  }

  .project-card {
    border: solid rgb(134, 212, 17) 10px;
    margin: 25px;
    padding: 25px;
    max-width: 300px;
  }

  .project-card-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .project-card:hover {
    -webkit-box-shadow: 13px 10px 46px 9px rgba(73, 43, 171, 1);
    -moz-box-shadow: 13px 10px 46px 9px rgba(73, 43, 171, 1);
    box-shadow: 13px 10px 46px 9px rgba(73, 43, 171, 1);
    transition: 0.1s;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 3rem;
  }

  .see-more-btn,
  button {
    font-size: 3em;
    text-align: center;
    padding: 35px 60px;
    margin: 25px 0px;
    border: solid rgb(134, 212, 17) 10px;
    border-top: 0px;
    border-left: 0px;
    background-color: white;
  }

  .checkbox-styling {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 2.5rem;
    justify-content: space-between;
  }

  .checkbox-and-title {
    border: 1px grey dashed;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
  }

  .checkbox-styling > .checkbox-and-title > input {
    text-align: center;
    height: 50px;
    width: 50px;
  }

  .search-bar {
    font-size: 3rem;
  }

  .search-bar-box {
    display: flex;
    justify-content: center;
  }

  .search-bar.btn {
    font-size: 2rem;
  }
}


@media screen and (max-width: 450px) {

  body {
    background-color: white;
  }

  main {
    background-color: white;
    width: 100%;
    margin-top: 120px;
    margin-bottom: 120px;
  }

  nav {
    position: fixed;
    top: 0vw;
    left: 0vw;
    height: 80px;
    width: 100%;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(62,9,121,1) 35%, rgba(0,212,255,1) 100%);
  }

  #header-img1 {
    position: fixed;
    width: 30%;
    top: 0.5vw;
  }

  #header-img2 {
    position: fixed;
    width: 50%;
    left: 40vw;
    top: 5vw;
  }

  h1 {
    color: red;
    font-family: 'Jura', sans-serif;
    font-weight: 900;
    font-size: 30px;
    text-align: center;
    margin-bottom: 50px;
  }

  .box {
    border: solid rgb(255, 0, 0, 0.6) 5px;
    background-image: url("./../images/landing_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: bottom;
    margin: 30px auto 30px auto;
    padding: 25px;
    width: 80%;
    height: 150px;
    background-color: rgb(169, 169, 169, 0.7);
    display: block;
    border-radius: 20px;
  }

  a {
    color: white;
    font-family: 'Jura', sans-serif;
    text-decoration: none;
    font-size: 25px;
    text-align: right;
    font-weight: 700;
  }

  footer {
    position: fixed;
    bottom: 0vw;
    left: 0vw;
    height: 80px;
    width: 100%;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(62,9,121,1) 35%, rgba(0,212,255,1) 100%);
  }

  footer img {
    position: fixed;
  }

  #menu-icon1 {
    width: 15%;
    left: 10vw;
    bottom: 1.5vw;
  }

  #menu-icon2 {
    width: 12%;
    left: 45vw;
    bottom: 3vw;
  }

  #menu-icon3 {
    width: 15%;
    left: 75vw;
    bottom: 1.5vw;
  }
}