@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&display=swap");

* {
  font-family: "Jura", sans-serif;
}

@media screen and (min-width: 451px) {
  body {
    padding: 50px;
    color: rgb(77, 71, 71);
  }

  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .form-title {
    font-size: 4em;
    text-align: center;
  }

  .form-field {
    font-size: 4em;
    margin-top: 10px;
    border: solid rgb(134, 212, 17) 5px;
    border-top: 0px;
    border-left: 0px;
  }

  .submit-btn {
    font-size: 5em;
    text-align: center;
    padding: 35px 60px;
    margin-top: 25px;
    border: solid rgb(134, 212, 17) 10px;
    border-top: 0px;
    border-left: 0px;
    background-color: white;
  }

  .btn-div {
    text-align: center;
  }

  header {
    margin-left: -60px;
    margin-top: -50px;
    height: 75px;
    width: 100vw;
    background: rgb(2, 0, 36);
    background: linear-gradient(
      90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(62, 9, 121, 1) 35%,
      rgba(0, 212, 255, 1) 100%
    );
    color: white;
  }

  footer {
    position: fixed;
    bottom: 0vw;
    left: 0vw;
    height: 60px;
    width: 100%;
    background: rgb(2, 0, 36);
    background: linear-gradient(
      90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(62, 9, 121, 1) 35%,
      rgba(0, 212, 255, 1) 100%
    );
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  #menu-icon1,
  #menu-icon2,
  #menu-icon3 {
    max-height: 50px;
    width: auto;
    margin-top: 5px;
  }

  .header-img {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .header1 {
    max-height: 65px;
    width: auto;
    margin: 0px 0px 0px 40px;
  }

  .header2 {
    max-height: 55px;
    width: auto;
    margin: 10px 100px 10px 0px;
  }

  .project-card {
    border: solid #9129d5 10px;
    margin: 25px;
    padding: 25px;
    max-width: 300px;
    border-radius: 20px;
  }

  .project-card {
    border: solid rgba(62, 9, 121, 1) 10px;
    margin: 25px;
    padding: 25px;
    max-width: 300px;
  }

  .project-card-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .project-card:hover,
  .box {
    -webkit-box-shadow: 6px 17px 33px -8px rgba(62, 9, 121, 1);
    -moz-box-shadow: 6px 17px 33px -8px rgba(62, 9, 121, 1);
    box-shadow: 6px 17px 33px -8px rgba(62, 9, 121, 1);
    transition: 0.1s;
  }

  .box:hover {
    -webkit-box-shadow: 15px 11px 33px -5px rgba(62, 9, 121, 1);
    -moz-box-shadow: 15px 11px 33px -5px rgba(62, 9, 121, 1);
    box-shadow: 15px 11px 33px -5px rgba(62, 9, 121, 1);
    transition: 0.1s;
  }

  h2 {
    font-size: 4rem;
  }

  /*/project/users/details*/

  .project-users-main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .new-project-btn:hover {
    -webkit-box-shadow: 6px 11px 33px -8px rgba(62, 9, 121, 1);
    -moz-box-shadow: 6px 11px 33px -8px rgba(62, 9, 121, 1);
    box-shadow: 6px 11px 33px -8px rgba(62, 9, 121, 1);
    transition: 0.4s;
  }

  .new-project-btn {
    border: solid 5px rgba(62, 9, 121, 1);
    border-radius: 20px;
    padding: 10px 25px;
    background-color: white;
    max-width: 600px;
    text-align: center;
  }

  .new-project-btn > a {
    font-size: 1.7rem;
    text-decoration: none;
  }

  .img-project-view {
    width: 100px;
    height: auto;
  }

  .title-project-view {
    font-size: 2rem;
  }

  .main-titles-projects-view {
    width: 600px;
    text-align: center;
  }

  .creator-box {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .creator-card {
    max-width: 300px;
    border: 10px rgba(62, 9, 121, 1) solid;
    border-radius: 20px;
    margin: 25px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .creator-card:hover {
    -webkit-box-shadow: 6px 11px 33px -8px rgba(62, 9, 121, 1);
    -moz-box-shadow: 6px 11px 33px -8px rgba(62, 9, 121, 1);
    box-shadow: 6px 11px 33px -8px rgba(62, 9, 121, 1);
    transition: 0.1s;
  }

  .title-projects-view {
    text-align: center;
    margin-top: 100px;
  }

  .display-flex,
  .btn-centered {
    display: flex;
    justify-content: center;
  }

  .edit-delete-btn,
  .see-more-btn,
  .remove-filters,
  .full-details-btn, 
  .change-btn {
    margin-top: 10px;
    border: solid 5px rgba(62, 9, 121, 1);
    border-radius: 20px;
    padding: 10px 25px;
    background-color: white;
  }

  .project-view-btns-second {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .edit-delete-btn > a,
  .project-full-btn > a,
  .full-details-btn > a {
    font-size: 1.1rem;
    text-decoration: none;
  }

  .project-full-btn:hover,
  .full-details-btn:hover, 
  .change-btn:hover {
    -webkit-box-shadow: 6px 11px 33px -8px rgba(62, 9, 121, 1);
    -moz-box-shadow: 6px 11px 33px -8px rgba(62, 9, 121, 1);
    box-shadow: 6px 11px 33px -8px rgba(62, 9, 121, 1);
    transition: 0.1s;
  }

  .edit-delete-btn:hover {
    -webkit-box-shadow: 6px 11px 33px -8px rgba(62, 9, 121, 1);
    -moz-box-shadow: 6px 11px 33px -8px rgba(62, 9, 121, 1);
    box-shadow: 6px 11px 33px -8px rgba(62, 9, 121, 1);
    transition: 0.1s;
  }

  .project-full-btn {
    margin-top: 10px;
    border: solid 5px rgba(62, 9, 121, 1);
    border-radius: 20px;
    padding: 10px 45px;
    background-color: white;
  }

  /* Applicants page  */

  .applicants-box {
    border: 5px #9129d5 solid;
  }

  /* Main project page  */
  .search-bar-btn {
    transition: 0.3s;
    border-radius: 20px;
    font-size: 1.5rem;
    padding: 5px;
    padding-left: 25px;
    padding-right: 25px;
    margin-left: 5px;
    border: solid 5px rgba(62, 9, 121, 1);
    border-radius: 20px;
    padding: 10px 25px;
    background-color: rgba(62, 9, 121, 1);
    color: white;
  }

  .search-bar-btn:hover {
    background-color: white;
    color: rgba(62, 9, 121, 1);
    transition: 0.2s;
  }

  .search-bar {
    font-size: 1.5rem;
    border-radius: 20px;
    padding-left: 25px;
    padding-right: 25px;
    border: solid 5px rgba(62, 9, 121, 1);
    border-radius: 20px;
    padding: 10px 25px;
    background-color: white;
  }

  .search-bar-box {
    margin-top: 15px;
    display: flex;
    justify-content: center;
  }

  .see-more-btn {
    font-size: 1.5rem;
  }

  .see-more-btn > a {
    text-decoration: none;
  }

  .see-more-btn:hover,
  .remove-filters-div > button:hover {
    -webkit-box-shadow: 6px 11px 33px -8px rgba(62, 9, 121, 1);
    -moz-box-shadow: 6px 11px 33px -8px rgba(62, 9, 121, 1);
    box-shadow: 6px 11px 33px -8px rgba(62, 9, 121, 1);
    transition: 0.1s;
  }

  .project-card-box > .creator-card > h2 {
    font-size: 3rem;
  }

  .remove-filters > a {
    text-decoration: none;
    text-align: center;
  }

  .remove-filters-div {
    margin-top: 25px;
    display: flex;
    justify-content: center;
  }

  /* Project Detail Page */
  .project-detail-page-title {
    text-align: center;
  }

  .display-flex-project-detail {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .project-detail-page-img {
    max-height: 200px;
    width: auto;
    border-radius: 5px;
  }

  .project-detail-page-img-div {
    text-align: center;
  }

  .project-detail-page-box {
    margin-left: 20px;
  }

  .project-detail-page-main {
    max-width: 800px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .skills-list-ul {
    margin: 0px;
    font-size: 1rem;
    list-style: circle;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .skills-list {
    margin-top: 5px;
  }

  .team-members {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .team-members-img {
    max-width: 125px;
    max-height: 125px;
    margin: 25px;
    margin-bottom: 0px;
    border-radius: 50%;
    justify-content: center;
  }

  .team-members-id {
    margin-right: 75px;
  }

  .project-detail-div {
    text-align: center;
  }

  .project-detail-div > button {
    margin-bottom: 25px;
    text-align: center;
    margin-top: 10px;
    border: solid 5px rgba(62, 9, 121, 1);
    border-radius: 20px;
    padding: 10px 25px;
    background-color: white;
    font-size: 1.2rem;
  }

  .project-detail-div > form > button,
  .see-current-projects,
  .back-to-creators-btn,
  #favorite-button {
    margin-bottom: 25px;
    text-align: center;
    margin-top: 10px;
    border: solid 5px rgba(62, 9, 121, 1);
    border-radius: 20px;
    padding: 10px 25px;
    background-color: white;
    font-size: 1.2rem;
  }

  .project-detail-div > button > a,
  .see-current-projects > a {
    text-decoration: none;
  }

  .project-detail-div > button:hover,
  .project-detail-div > form > button:hover,
  .see-current-projects:hover,
  .back-to-creators-btn:hover,
  #favorite-button:hover {
    -webkit-box-shadow: 6px 11px 33px -8px rgba(62, 9, 121, 1);
    -moz-box-shadow: 6px 11px 33px -8px rgba(62, 9, 121, 1);
    box-shadow: 6px 11px 33px -8px rgba(62, 9, 121, 1);
    transition: 0.4s;
  }

  .project-creator-box {
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .project-creator-box > a {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px 25px 0px 15px;
  }

  .project-creator-sect {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .project-creator-img {
    max-width: 75px;
    max-height: 75px;
    border-radius: 50%;
    justify-content: center;
  }
}

/* profile view page */
.profile-view-div {
  max-width: 600px;
}

.profile-view-img {
  max-height: 200px;
  width: auto;
  border-radius: 50%;
}

.profile-view-info {
  max-width: 400px;
}

.profile-view-box {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.profile-view-btn {
  border: solid 5px rgba(62, 9, 121, 1);
  border-radius: 20px;
  padding: 15px 35px;
  background-color: white;
}

.profile-view-btn > a {
  text-decoration: none;
  font-size: 1.5rem;
}

/* other user profile view */
.user-profile-main {
  max-width: 600px;
}

.user-profile-div {
  display: flex;
  align-items: center;
}

.user-profile-main {
}

.user-profile-div-info {
  margin-left: 25px;
}

/* User main view  */
.user-card {
  border: solid rgba(62, 9, 121, 1) 10px;
  margin: 25px;
  padding: 25px;
  width: 250px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.user-main-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.remove-filters-div2 {
  margin-right: 300px;
  width: 300px;
  display: flex;
  justify-content: center;
}

/* Favorite users */
.favorite-main {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* main */
.box {
  height: 250px;
  width: 300px;
  margin: 25px;
  border-radius: 25px;
  background-image: url("/images/landing_background.jpg");
}

.box > a {
  font-size: 4rem;
  color: white;
  text-decoration: none;
}

/* edit profile */
.field-input-div {
  margin: 15px;
}

.field-input {
  font-size: 1.5rem;
  border-radius: 20px;
  padding-left: 25px;
  padding-right: 25px;
  border: solid 5px rgba(62, 9, 121, 1);
  border-radius: 20px;
  padding: 10px 25px;
  background-color: white;
  font-size: 1rem;
  margin-left: 20px;
}

.checkbox-and-title {
  border: solid 5px rgba(62, 9, 121, 1);
  border-radius: 20px;
  width: 100px;
  height: 80px;
  margin: 10px;
  padding: 5px;
  font-size: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.checkbox-styling {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-entry {
  margin-top: 75px;
  margin-bottom: 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 450px) {
  
/* --- main view --- */
  body {
    background-color: white;
  }
  main {
    background-color: white;
    width: 100%;
    margin-top: 120px;
    margin-bottom: 160px;
  }
  .header-img {
    position: fixed;
    top: 0vw;
    left: 0vw;
    height: 80px;
    width: 100%;
    background: rgb(2, 0, 36);
    background: linear-gradient(
      90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(62, 9, 121, 1) 35%,
      rgba(0, 212, 255, 1) 100%
    );
  }
  .header1 {
    position: fixed;
    width: 30%;
    top: 0.5vw;
  }
  .header2 {
    position: fixed;
    width: 50%;
    left: 40vw;
    top: 5vw;
  }
  h1 {
    color: red;
    font-family: "Jura", sans-serif;
    font-weight: 900;
    font-size: 30px;
    text-align: center;
    margin-bottom: 50px;
  }
  .box {
    border: solid rgb(255, 0, 0, 0.6) 5px;
    background-image: url("./../images/landing_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: bottom;
    margin: 30px auto 30px auto;
    padding: 25px;
    width: 80%;
    height: 150px;
    background-color: rgb(169, 169, 169, 0.7);
    display: block;
    border-radius: 20px;
  }
  .box a {
    color: white;
    font-family: "Jura", sans-serif;
    text-decoration: none;
    font-size: 25px;
    text-align: right;
    font-weight: 700;
  }
  footer {
    position: fixed;
    bottom: 0vw;
    left: 0vw;
    height: 80px;
    width: 100%;
    background: rgb(2, 0, 36);
    background: linear-gradient(
      90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(62, 9, 121, 1) 35%,
      rgba(0, 212, 255, 1) 100%
    );
  }
  footer img {
    position: fixed;
  }
  #menu-icon1 {
    width: 15%;
    left: 10vw;
    bottom: 1.5vw;
  }
  #menu-icon2 {
    width: 12%;
    left: 45vw;
    bottom: 3vw;
  }
  #menu-icon3 {
    width: 15%;
    left: 75vw;
    bottom: 1.5vw;
  }
  /* --- profile view --- */

  .profile-view-div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .profile-view-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 20vw;
  }
  .profile-view-info h1 {
    right: 30vw;
    top: -20vw;
  }
  #profile-img {
    right: 15vw;
    left: 10vw;
    top: -3vw;
  }

  .profile-view-btn-container {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    margin-top: 40px;
  }

  .profile-view-btn {
    margin-top: 10px;
    border: solid 5px rgba(62, 9, 121, 1);
    border-radius: 20px;
    padding: 10px 45px;
    background-color: rgba(62, 9, 121, 1);
    margin-bottom: 10px;
    width: 50%;
  }

  .profile-view-btn a{
    color: white;
    text-decoration: none;
  }

  /* --- project main view --- */

  .search-bar-box {
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
  }

  .search-bar {
    font-size: 1rem;
    border-radius: 20px;
    padding-left: 25px;
    padding-right: 25px;
    border: solid 5px rgba(62, 9, 121, 1);
    border-radius: 20px;
    padding: 10px 25px;
    background-color: white;
  }  

  .search-bar-btn {
    transition: 0.3s;
    border-radius: 20px;
    font-size: 1rem;
    padding: 5px 15px 5px 15px;
    margin-left: 5vw;
    border: solid 5px rgba(62, 9, 121, 1);
    border-radius: 20px;
    background-color: rgba(62, 9, 121, 1);
    color: white;
  }

  .project-card-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .creator-card {
    max-width: 300px;
    border: 10px rgba(62, 9, 121, 1) solid;
    background-color: rgb(0, 0, 255, 0.3);
    border-radius: 20px;
    margin: 25px;
    padding: 15px 15px 20px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
    text-align: center;
    line-height: 25px;
  }

  .edit-delete-btn,
  .see-more-btn,
  .full-details-btn, 
  .change-btn {
    margin-top: 10px;
    margin-bottom: 10px;
    border: solid 5px rgba(62, 9, 121, 1);
    border-radius: 20px;
    padding: 10px 25px;
    background-color: rgba(62, 9, 121, 1);
  }

  .edit-delete-btn a,
  .see-more-btn a,
  .remove-filters a,
  .full-details-btn a, 
  .change-btn a {
    color: white;
    text-decoration: none;
  }

  .remove-filters-div {
    margin-top: 40px;
    display: flex;
    justify-content: center;
  }

  .remove-filters {
    margin-top: 10px;
    margin-bottom: 10px;
    border: solid 5px rgba(62, 9, 121, 1);
    border-radius: 20px;
    padding: 10px 25px;
    background-color: rgba(62, 9, 121, 1);
    font-size: 1.5rem;
  }

  /* Project Detail Page */
  .project-detail-page-title {
    text-align: center;
  }

  .display-flex-project-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .project-detail-page-img {
    max-width: 350px;
    height: 250px;
    width: auto;
    border-radius: 5px;
  }

  .project-detail-page-img-div {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .project-detail-page-box {
    margin-left: 10vw;
    margin-right: 10vw;
  }

  .project-detail-page-main {
    max-width: 800px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .offer {
    margin-left: 10vw;
  }

  .skills-list-ul {
    margin-left: 10vw;
    margin-right: 10vw;
    font-size: 1rem;
    list-style: circle;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .skills-list {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 800;
  }

  .project-detail-div {
    text-align: center;
  }

  .project-detail-div > button {
    margin-bottom: 40px;
    text-align: center;
    margin-top: 10px;
    border: solid 5px rgba(62, 9, 121, 1);
    border-radius: 20px;
    padding: 10px 25px;
    background-color: rgba(62, 9, 121, 1);
    font-size: 1.2rem;
    color: white;
  }

  .project-detail-div a {
    color: white;
    text-decoration: none;
  }

  #apply-button {
    margin-bottom: 40px;
    text-align: center;
    margin-top: 10px;
    border: solid 5px rgba(62, 9, 121, 1);
    border-radius: 20px;
    padding: 10px 25px;
    font-size: 1.2rem;
    background-color: rgba(62, 9, 121, 1);
    color: white;
  }

  .project-creator-sect {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .project-creator-img {
    display: none;
  }

  .project-creator-box {
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 5vw;
  }
  .project-creator-box > a {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px 25px 0px 15px;
  }

  .team-members {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20vw;
    margin-bottom: 70px;
  }

  .team-members-img {
    max-width: 125px;
    max-height: 125px;
    margin: 25px;
    margin-bottom: 0px;
    border-radius: 50%;
    justify-content: center;
  }

  .team-members-id {
    margin-right: 75px;
  }

  /* --- Project user detail view --- */

  .img-project-view {
    max-width: 300px;
    height: auto;
    border-radius: 20px;
  }

  .new-project-btn {
    border: solid 5px rgba(62, 9, 121, 1);
    border-radius: 20px;
    padding: 10px 25px;
    background-color: rgba(62, 9, 121, 1);
    width: 50%;
    text-align: center;
    margin-left: 15vw;
    margin-top: 150px;
  }

  .new-project-btn a {
    color: white;
    text-decoration: none; 
  }

  .creator-box {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .project-full-btn {
    margin-top: 10px;
    border: solid 5px rgba(62, 9, 121, 1);
    border-radius: 20px;
    padding: 10px 45px;
    background-color: rgba(62, 9, 121, 1);
    margin-bottom: 10px;
  }

  .project-full-btn a { 
    color: white;
    text-decoration: none;
  }

  /* --- Edit user view --- */

  .change-btn {
    margin-top: 10px;
    border: solid 5px rgba(62, 9, 121, 1);
    border-radius: 20px;
    padding: 10px 45px;
    background-color: rgba(62, 9, 121, 1);
    margin-bottom: 10px;
  }

  .change-btn {
    color: white;
    text-decoration: none;
  }

}