<h1>CREATE USER</h1>
<form action='/auth/signup' enctype="multipart/form-data" method='POST'>

  <label for=''>Username</label>
  <input type='text' name='username'>

  <label for=''>Email</label>
  <input type='email' name='email'>

  <label for=''>Phone</label>
  <input type='text' name='phone'>

  <label for=''>Image</label>
  <input type='file' name='image'>

  <label for=''>Location</label>
  <input type='text' name='location'>

  <label for=''>Skills</label>
  <input type='checkbox' name='skills'>

  <label for=''>Password</label>
  <input type='password' name='password'>

  <button type='submit'>Log in</button>
</form>