<h1>See all of {{this.projectInvolved.username}}'s projects!</h1>

{{#each this.projectInvolved.projects}}
<div class="project-card-box">
        <div class="project-card">
            <h2>{{this.title}}</h2>
            <p>{{this.description}}</p>
            <button class="see-more-btn"><a href="/project/details/{{this.id}}">See More</a></button>
        </div>
</div>
{{/each}}